@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

body {
  background-color: #0c090a;
  color: white;
}

.custom-mask {
  position: absolute;
  mask-image: url("MaskSvg.svg");
  /* background: orange; */
}

.readex-pro {
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 36px;
}
